{% extends 'base.html.twig' %}

{% block title %}{{ "resetPassword.title"|trans }}{% endblock %}

{% block body %}
    <div id="reset_succes" class="card bg-light">
        {{ "resetPassword.checkEmail.succes"|trans({'%link%': path('app_forgot_password_request') })|raw }}
        {{ tokenLifetime|date('g') }} {{ "resetPassword.hour"|trans }}
    </div>
{% endblock %}
