<aside class="menu">
    <p class="menu-label">
        Profile
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{ path('user_profile') }}" class="">
                <i class="fa fa-user" aria-hidden="true"></i>
                my profile
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit') }}/{{ app.user.id }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                edit profile
            </a>
        </li>
    </ul>
</aside>
