<footer class="bg-dark sticky-bo">
    <div class="col-md-3 subscribe">
        <div class="input-group">
            <input type="email" class="form-control" placeholder=" Email here for subscribe to our Newsletter">
            <span class="input-group-btn">
                <button class="btn bg-success" type="submit">Subscribe</button>
            </span>
        </div>
    </div>
    <div class="col-md4 text-center text-white">
        Copyright 2020 Justweborn project
    </div>
</footer>