<footer class="bg-dark sticky-bo">
    <div class="col-md-3 subscribe">
            {{ render(controller('App\\Controller\\BlogController::newsletterForm')) }}

    </div>
    <div class="col-md4 text-center text-white">
        Copyright 2020 Justweborn project
    </div>
</footer>