{{ form_start(form,{
    'attr': { "class":"input-group"}
}) }}

{{ form_widget(form.email, {
    'attr' : {'class': 'form-control', "placeholder":'newsletter.placeholder'|trans}
}) }}
<button type="submit" class="input-group-btn btn bg-success">{{ "newsletter.button"|trans }}</button>

{{ form_end(form) }}