{{ form_start(form,{
    'attr': { "class":"input-group"}
}) }}

{{ form_widget(form.email, {
    'attr' : {'class': 'form-control', "placeholder":" Email here for subscribe to Newsletter"}
}) }}
<button type="submit" class="input-group-btn btn bg-success">Subscribe</button>

{{ form_end(form) }}