@import "~bootstrap";
@import "~font-awesome";
@import "article";
@import "homepage";
@import "login";
@import "register";
@import "user_dashboard";
@import "reset_pwd";

//html { overflow-y: hidden; }
html, body {
  height:100%;
}
body{
  background-image: url("../images/foodpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 120px
}

// animation background for login & register
.gradient-border {
  --borderWidth: 10px;
  //background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #314763, #1E2432, #2C3140, #4C5F77, #2B3952);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


//footer
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  .form-control {
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
  }

  .btn {
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
  }
  .subscribe{
    margin: auto;
  }
}