//article show page
#article_show{
  overflow-y: auto;
  height: 700px;
  background-color: lightgrey;
  border-radius: 0.25rem;
  max-width: 50%;
  margin: 2% auto;
  #article_body {
    padding: 2%;

    p {
      margin-top: 10%;
    }

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .title.is-1 {
      margin-bottom: -0.2%;
      padding: 0;
      font-family: "NerkoOne";
      font-size: 3.5rem;
    }

    a {
      margin-right: 1%;
    }

    .subtitle.is-6 {
      font-size: 1rem;
    }

    #comment_date {
      font-size: 0.7rem;
    }

    article.media {
      margin-left: 2%;
    }

    #comment-form {
      margin-left: -2%;
    }

    .notification {
      padding: 2%;
    }
  }
  .article-infos li{
    list-style: none;
  }

  #covered_image{
    max-width: 100%;
  }
  .blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }
  .blockquote-footer::before{
    content: none;
  }
}
@font-face {
  font-family: "NerkoOne";
  src: url("../fonts/NerkoOne-Regular.ttf");
}