.card{
  max-width: 50%;
  margin: 1% auto;
}
#homepage{
  background-image: url("../images/homepaper.jpg");
}

.pagination{
  margin-left: 40%;
  max-width: 50%;
  color: white;
  .page, .first, .previous, .next, .last{
    margin: 0 2%;
    a{
      color: white;
    }
  }
}