.container{
  max-width: 50%;
  margin-top: 2%;
  nav{
    margin: auto;
  }
}


#edit_form{
  background-color: lightgrey;
  max-width: 50%;
  margin: 2% auto;
  padding: 2%;
  ul{
    list-style: none;
  }
}

