#profile{
  background-color: lightgrey;
  max-width: 50%;
  margin: 2% auto;
  padding: 2%;
  ul{
    list-style: none;
  }
}
#edit_form{
  background-color: lightgrey;
  max-width: 50%;
  margin: 2% auto;
  padding: 2%;
  ul{
    list-style: none;
  }
}